@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <br />
        @System.Globalization.CultureInfo.CurrentUICulture
        <p>@ViewData["Popisok1"]</p>
        <p>@ViewData["Popisok2"]</p>
    </div>
